BOT_TOKEN=
WEBHOOK_BASE_URL=https://yourdomain.com
WEBHOOK_PATH=/telegram/webhook
WEBHOOK_SECRET=random_secret_string

DATABASE_URL=postgresql+asyncpg://user:pass@db/dbname
POSTGRES_USER=botuser
POSTGRES_PASSWORD=botpass
POSTGRES_DB=botdb

OPERATOR_GROUP_ID=-100xxxxxxxxx
ADMIN_TELEGRAM_ID=

ROBOKASSA_LOGIN=
ROBOKASSA_PASS1=
ROBOKASSA_PASS2=
ROBOKASSA_IS_TEST=true

REDIS_URL=redis://redis:6379/0
